// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    a {
        &.brand.icons-home {
            margin-top: 8px;
            margin-left: 1px;
        }
    }
}

.nav-collapse {
    ul {
        &.nav {
            li > {
                div {
                    &.selected {
                        margin-top: 11px;
                        text-decoration: underline;
                        color: $selectedLanguage;
                    }
                }
            }
        }
    }
}

a {
    cursor: pointer;
}